$color-primary--bg: #0d6efd;
$color-primary--text: #fff;

$color-secondary--bg: #6c757d;
$color-secondary--text: #fff;

$color-success--bg: #198754;
$color-success--text: #fff;

$color-danger--bg: #dc3545;
$color-danger--text: #fff;

$color-warning--bg: #ffc107;
$color-warning--text: #000;

.btn {
	font-size: 1.6rem;
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1.3px solid transparent;
	border-radius: 0.3rem;
	padding: 0.7rem 2rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	&:not(:disabled) {
		cursor: pointer;
	}

	// COLOR

	&-primary {
		color: $color-primary--text;
		background-color: $color-primary--bg;
		border-color: $color-primary--bg;

		&:hover {
			background-color: darken($color-primary--bg, 7%);
			border-color: darken($color-primary--bg, 8%);
		}

		&:active {
			background-color: darken($color-primary--bg, 11%);
			border-color: darken($color-primary--bg, 12%);
		}

		&:disabled {
			background-color: lighten($color-primary--bg, 20%);
			border-color: lighten($color-primary--bg, 20%);
		}
	}

	&-secondary {
		color: $color-secondary--text;
		background-color: $color-secondary--bg;
		border-color: $color-secondary--bg;

		&:hover {
			background-color: darken($color-secondary--bg, 7%);
			border-color: darken($color-secondary--bg, 8%);
		}

		&:active {
			background-color: darken($color-secondary--bg, 11%);
			border-color: darken($color-secondary--bg, 12%);
		}

		&:disabled {
			background-color: lighten($color-secondary--bg, 20%);
			border-color: lighten($color-secondary--bg, 20%);
		}
	}

	&-success {
		color: $color-success--text;
		background-color: $color-success--bg;
		border-color: $color-success--bg;

		&:hover {
			background-color: darken($color-success--bg, 7%);
			border-color: darken($color-success--bg, 8%);
		}

		&:active {
			background-color: darken($color-success--bg, 11%);
			border-color: darken($color-success--bg, 12%);
		}

		&:disabled {
			background-color: lighten($color-success--bg, 20%);
			border-color: lighten($color-success--bg, 20%);
		}
	}

	&-danger {
		color: $color-danger--text;
		background-color: $color-danger--bg;
		border-color: $color-danger--bg;

		&:hover {
			background-color: darken($color-danger--bg, 7%);
			border-color: darken($color-danger--bg, 8%);
		}

		&:active {
			background-color: darken($color-danger--bg, 11%);
			border-color: darken($color-danger--bg, 12%);
		}

		&:disabled {
			background-color: lighten($color-danger--bg, 20%);
			border-color: lighten($color-danger--bg, 20%);
		}
	}

	&-warning {
		color: $color-warning--text;
		background-color: $color-warning--bg;
		border-color: $color-warning--bg;

		&:hover {
			background-color: lighten($color-warning--bg, 6%);
			border-color: lighten($color-warning--bg, 7%);
		}

		&:active {
			background-color: darken($color-warning--bg, 2%);
			border-color: darken($color-warning--bg, 2%);
		}

		&:disabled {
			background-color: lighten($color-warning--bg, 20%);
			border-color: lighten($color-warning--bg, 20%);
		}
	}

	// OUTLINE

	&-outline-primary {
		color: $color-primary--bg;
		border-color: $color-primary--bg;

		&:hover {
			color: $color-primary--text;
			background-color: $color-primary--bg;
			border-color: $color-primary--bg;
		}

		&:active {
			color: $color-primary--text;
			background-color: darken($color-primary--bg, 6%);
			border-color: darken($color-primary--bg, 7%);
		}

		&:disabled {
			color: lighten($color-primary--bg, 20%);
			background-color: transparent;
			border-color: lighten($color-primary--bg, 20%);
		}
	}

	&-outline-secondary {
		color: $color-secondary--bg;
		border-color: $color-secondary--bg;

		&:hover {
			color: $color-secondary--text;
			background-color: $color-secondary--bg;
			border-color: $color-secondary--bg;
		}

		&:active {
			color: $color-secondary--text;
			background-color: darken($color-secondary--bg, 6%);
			border-color: darken($color-secondary--bg, 7%);
		}

		&:disabled {
			color: lighten($color-secondary--bg, 20%);
			background-color: transparent;
			border-color: lighten($color-secondary--bg, 20%);
		}
	}

	&-outline-success {
		color: $color-success--bg;
		border-color: $color-success--bg;

		&:hover {
			color: $color-success--text;
			background-color: $color-success--bg;
			border-color: $color-success--bg;
		}

		&:active {
			color: $color-success--text;
			background-color: darken($color-success--bg, 6%);
			border-color: darken($color-success--bg, 7%);
		}

		&:disabled {
			color: lighten($color-success--bg, 20%);
			background-color: transparent;
			border-color: lighten($color-success--bg, 20%);
		}
	}

	&-outline-danger {
		color: $color-danger--bg;
		border-color: $color-danger--bg;

		&:hover {
			color: $color-danger--text;
			background-color: $color-danger--bg;
			border-color: $color-danger--bg;
		}

		&:active {
			color: $color-danger--text;
			background-color: darken($color-danger--bg, 6%);
			border-color: darken($color-danger--bg, 7%);
		}

		&:disabled {
			color: lighten($color-danger--bg, 20%);
			background-color: transparent;
			border-color: lighten($color-danger--bg, 20%);
		}
	}

	&-outline-warning {
		color: $color-warning--bg;
		border-color: $color-warning--bg;

		&:hover {
			color: $color-warning--text;
			background-color: $color-warning--bg;
			border-color: $color-warning--bg;
		}

		&:active {
			color: $color-warning--text;
			background-color: darken($color-warning--bg, 6%);
			border-color: darken($color-warning--bg, 7%);
		}

		&:disabled {
			color: lighten($color-warning--bg, 20%);
			background-color: transparent;
			border-color: lighten($color-warning--bg, 20%);
		}
	}

	// ANIMATION

	&-translateY {
		&:hover {
			transform: translteY(-1px);
		}

		&:active {
			transform: translateY(0);
		}
	}

	// SIZE

	&-large {
		padding: 1.2rem 4rem;
		font-size: 1.8rem;
		font-weight: 500;
		border-width: 2px;
	}

	&-small {
		padding: 0.8rem;
		font-size: 1.4rem;
		font-weight: 400;
		border-width: 1px;
	}

	&-round {
		border-radius: 100px;
	}

	&-icon {
		.icon {
			margin-right: 1rem;
		}
	}
}
