.row {
	display: flex;
	justify-content: space-between;
	> * {
		flex-grow: 1;
		&:not(:first-child) {
			margin-left: $gutter-horizontal;
		}
	}

	.col-1-of-2 {
		flex-basis: 50%;
	}

	.col-2-of-2 {
		flex-basis: 100%;
	}

	.col-1-of-4 {
		flex-basis: 25%;
	}

	.col-2-of-4 {
		flex-basis: 50%;
	}

	.col-3-of-4 {
		flex-basis: 75%;
	}

	.col-4-of-4 {
		flex-basis: 100%;
	}
	.col {
		flex: 1;
	}
}
