.navigation-sub {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	// border-bottom: 2px solid #ccc;

	&__item {
		list-style: none;
		margin: 1rem 2rem;
		color: #333;
		font-size: 1.5rem;
		font-weight: 600;
		transition: all 0.1s;
		color: #333;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		border-bottom: 2px solid transparent;
		padding-bottom: 0.25rem;
		padding-top: 1rem;

		&:not(:last-of-type) {
			margin-right: 1rem;
		}

		&:hover {
			// transform: scale(1.1);
			color: blue;
			cursor: pointer;
		}

		&--active {
			// transform: scale(1.1);
			color: blue;
			border-bottom: 2px solid blue;
		}
	}
}
