@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile {
	position: relative;
	&__greet {
		h2 {
			font-size: 1.7rem;
			padding: 0;
			margin: 0;
			letter-spacing: 3px;
			text-transform: capitalize;
		}
		margin-left: 2rem;
	}

	&__img {
		margin-right: 2rem;
	}

	&__cards {
		display: flex;
		margin-bottom: 1.5rem;
	}

	&__card {
		border-radius: 6px;
		flex: 1;
		display: flex;
		flex-direction: column;
		color: white;
		font-weight: 300;
		font-size: 1.6rem;
		box-shadow: var(--shadow-light);

		&:not(:last-child) {
			margin-right: 1.5rem;
		}

		&-body {
			flex-basis: 70%;
			padding: 2rem 3rem;
			display: flex;
			align-items: center;
			border-bottom: 1px solid rgba(33, 40, 50, 0.125);

			.text-small {
			}

			.text-lg {
				font-size: 3rem;
				font-weight: 300;
			}

			.icon {
				// fill: none;
				margin-left: auto;
				width: 5rem;
				height: 5rem;
			}
		}

		.link {
			text-decoration: none;
			color: inherit;
		}

		&-footer {
			padding: 2rem 3rem;
			display: flex;
			align-items: center;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
				color: #d9d9d9;
			}

			.icon {
				margin-left: auto;
				width: 1.6rem;
				height: 1.6rem;
			}
		}
	}

	&__details {
		// width: 30%;
		padding: 0rem !important;

		ul {
			padding: 2rem;
			list-style: none;
			margin: 0 auto;
		}

		h1 {
			padding: 1rem 2.5rem;
			// text-align: center;
			border-radius: 5px 5px 0px 0px;
			color: white;
			font-weight: 300;
			font-size: 2rem;
			text-transform: capitalize;
			letter-spacing: 2px;
		}

		li {
			padding: 1rem;
			display: flex;
			font-size: 1.5rem;

			p:first-child {
				flex-basis: 40%;
				font-weight: bold;
				text-transform: capitalize;
			}

			p:last-child {
				flex: 1;
			}

			&:not(:last-child) {
				border-bottom: var(--card-detail-item-border);
			}
		}
	}
}

.bg-primary {
	background-color: #0061f2;
}
.bg-secondary {
	background-color: #f4a100;
}
.bg-success {
	background-color: #00ac69;
}
.bg-danger {
	background-color: #e81500;
}
