.u-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.u-x-center {
	display: flex;
	justify-content: center;
}

.d-flex {
	display: flex;
}

.d-flex-c {
	display: flex;
	flex-direction: column;
}

.m-x-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.u-prevent-copy {
	-webkit-touch-callout: none; //iOS Safari
	-webkit-user-select: none; //Chrome/Safari/Opera
	-khtml-user-select: none; //Konqueror
	-moz-user-select: none; //Firefox
	-ms-user-select: none; // Internet Explorer/Edge
	user-select: none; // Non-prefixed version, currently not supported by any browser
}

.fl-1 {
	flex: 1;
}

.mb-2 {
	margin-bottom: 2rem;
}

.p-rel {
	position: relative;
}

.u-hidden {
	visibility: hidden;
	opacity: 0;
}

.ml-auto {
	margin-left: auto;
}

.mh-100 {
	min-height: 100vh !important;
}
