@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin abs-above {
	position: absolute;
	top: 0;
	left: 0;
}
