.testClass {
	width: 85vw;
	margin: 0 auto;
	max-width: 1172px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	column-gap: 1.8rem;
	row-gap: 1.8rem;
	align-items: start;
}
